@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');
#texto, #email{
  border: 0.1em solid #1BA6C2;
}
#projeto{
  font-size: 3em;
  font-family: 'Inter', sans-serif;
  color: #1BA6C2;
  text-align: center;
  border-top: 0.1em solid #1BA6C2;
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;
  width: 6em;
}
#menu{
  position: fixed;
  z-index: 999;
  width: 100%;
}
#partePrincipal{
  background-color: #0D4F5C;
  
  height: 40em;
}
#texto{
  
  border-radius: 25px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
}


body {
   padding: 0;
    margin: 0;
    background-color: white;
}
*{
  padding: 0;
  margin: 0;
}
footer{
  color: white;
  font-family: 'Inter';
  font-style: normal;
  background-color: #373737;
  padding-top: 3em;
  
  padding: 1em;
  margin-top: 5em;
  font-size: 0.8em;
  text-align: center;
  
}
footer > div > img{
  margin-left: 1em;
  margin-bottom: 2em;
  width: 2em;
  height: 2em;
}

a{
  text-decoration-line: none;
}
#biomedicinalink{
  color: white;
  width: 5em;
  height: 2em;
  display: block;
  
  background: #88EAFF;
  border: 6px solid rgba(0, 149, 255, 0.2);
  border-radius: 50px;
}

#linkProjeto{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.emBreve{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 0px 0px #FFF;
  
  background: rgba(255, 255, 255, 0.66);
  border-radius: 20px;
}
#ti{
  position: relative;
}
#textoInformativo{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}
#boxText img{
  border: 0.3em solid white;
}
#boxText{
  width: 80%;
  height: 80%;
  font-family: Arial, Helvetica, sans-serif;
  
  border-radius: 30px;
  box-shadow: 1px 1px 10px 6px #33333317;
}
#textInfo{
  width: 80%;
  text-align: center;
  font-size: 1em;
}
#gustavo{
  margin-bottom: 2em;
  margin-top: 3em;
  width: 15em;
  height: 15em;
  border: 1px solid #000000;
  border-radius: 50%;
  
}


.vermelho{
  color: red;
}
.azulClaro{
  color: #88EAFF;
}
.textCinza{
  color: #D9D9D9;
}
.azul{
  color: #06AED3;
}
.preto{
    background-color: #0D4F5C;
}
.cinza{
    width: 100%;
    height: 768px;
    background: #D9D9D9;
}
.parte{
  width: 100%;
  height: 40em;
}

#h1Principal{
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  margin-bottom: 0.2em;
  color: #FFFFFF;

}
#form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pro{
  box-shadow: 1px 1px 10px 2px #00000015;
  position: relative;
  bottom: 0em;
  transition: 1.5s;
  
  padding: 1em;
}
.pro:hover{
  bottom: 1.5em;
  box-shadow: 15px 15px 20px 6px #DFDFDF40;
}
#projetos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
