@media (max-width: 750px) {
  .pro{
    width: 20em;
  height: 15em;
  margin-top: 2em;
  border-radius: 1em;
  }
#projetos{
    height: 60em;
}
   #boxText{
    display: flex;
    background-image: linear-gradient(#21C8EB 50%, #FFF 50%);
  flex-wrap: wrap;
  justify-content: center;
  }
  #texto{
  height: 4.5em;
  width: 18.5em;
  font-size: 1em;

  
}
#button{
  box-sizing: border-box;
  

  width: 8em;
  height: 2.5em;
  
  background: #88EAFF;
  border: 6px solid rgba(0, 209, 255, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

#email{
  width: 14em;
  height: 1.5em;
  padding: 0.5em;
  font-size: 1.3em;
  background: #FFFFFF;
  border-radius: 20px;
}

  #partePrincipal{
  clip-path: circle(70% at center 40%);
  
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
  
}
  #h1Principal{
    font-size: 5em;
  }
  #biomedicina{
    order: 1;
    margin-bottom: 1em;
  }
  #breve1{
    order: 2;
    margin-bottom: 1em;
  }
  #breve2{
    order: 3;
    margin-bottom: 2em;
  }
}
