
<h1>Chat</h1>
<p>{{post[0].name}}</p>
{{#each post}}
<p>{{post.name}}</p>
{{/each}}
<form action="/add" method="post">
  <input type="text" name="name">
  <button type="submit">Enviar</button>
</form>
