<script>
  console.log(post)
</script>
<h1>Chat</h1>
{{#each post}}
<p>{{post.name}}</p>
{{/each}}
<form action="/add" method="post">
  <input type="text" name="name">
  <button type="submit">Enviar</button>
</form>
